In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('C:/Users/gabri/Documents/python/pandas/pandas-aula03/Curso Pandas/dados/aluguel.csv', sep = ';')
dados

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/gabri/Documents/python/pandas/pandas-aula03/Curso Pandas/dados/aluguel.csv'

In [23]:
Tipo_unico = dados.Tipo.drop_duplicates()

In [24]:
Tipo_unico = pd.DataFrame(Tipo_unico)

In [25]:
Tipo_unico

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [26]:
# organizando a vizualização 
#para mudar o tipo para code Esc+y, para Markdown = Esc+n

In [27]:
Tipo_unico.index = range(Tipo_unico.shape[0])
Tipo_unico.columns.name = 'Id'

In [28]:
Tipo_unico

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

# Series

In [34]:
data = {'linha0':2,'linha1':4,'linha2':8,'linha3':16,'linha4':32,'linha5':64,'linha6':128,'linha7':256,'linha8':512,'linha9':1024}
data

{'linha0': 2,
 'linha1': 4,
 'linha2': 8,
 'linha3': 16,
 'linha4': 32,
 'linha5': 64,
 'linha6': 128,
 'linha7': 256,
 'linha8': 512,
 'linha9': 1024}

In [37]:
s = pd.Series(data)
s1 = s *2
s2 = s1 + s
s2

linha0       6
linha1      12
linha2      24
linha3      48
linha4      96
linha5     192
linha6     384
linha7     768
linha8    1536
linha9    3072
dtype: int64

# DataFrame

In [1]:
data = [[2,4,8],[16,32,64],[128,256,512]]
linhas = ['linha01','linha02', 'linha03']
colunas = ['coluna01','coluna02','coluna03']
df1 = pd.DataFrame(data, linhas, colunas)
df1[df1 > 0] = 'A'
df1
#isso é o mesmo que ter um dicionario com 3 dicionarios dentro

NameError: name 'pd' is not defined

In [4]:
data = {'coluna01':{'linha01':4,'linha02':8,'linha03':16},
        'coluna02':{'linha01':32,'linha02':64,'linha03':128},
        'coluna03':{'linha01':256,'linha02':512,'linha03':1024}}
df2 = pd.DataFrame(data)
df2[df2 > 0] = 'B'
df2

        coluna01 coluna02 coluna03
linha01        B        B        B
linha02        B        B        B
linha03        B        B        B

In [6]:
df3 = pd.concat([df1, df2], axis = 1)
df3

NameError: name 'df1' is not defined

In [3]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4

In [4]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6