In [8]:
import pandas as pd
pd.set_option('display.max_rows',10)

In [13]:
df = pd.read_csv('C:/Users/gabri/Documents/python/Data-science/Alura/Python Pandas/Pandas/data/db.csv', sep = ';')
#df.head(20)
#df.dtypes
df

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [15]:
df[['Quilometragem','Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

## Tupla

In [24]:
#tupla() tabalha com paranteses
#nome = tuple(['Gabriel','Renã','Rauã','Gleice','Ayla'])
nome = ('Gabriel','Renã','Rauã','Gleice','Ayla',('Saulo','Cristiano','Maria'))
nome

('Gabriel', 'Renã', 'Rauã', 'Gleice', 'Ayla', ('Saulo', 'Cristiano', 'Maria'))

In [20]:
type(nome)

tuple

In [21]:
nome[0]

'Gabriel'

In [25]:
nome[-1]

('Saulo', 'Cristiano', 'Maria')

In [26]:
nome[-1][1]

'Cristiano'

In [28]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)
carros

(('Jetta Variant',
  'Motor 4.0 Turbo',
  2003,
  False,
  ('Rodas de liga', 'Travas elétricas', 'Piloto automático')),
 ('Passat',
  'Motor Diesel',
  1991,
  True,
  ('Central multimídia', 'Teto panorâmico', 'Freios ABS')))

In [29]:
carros[0][3]

False

In [30]:
carros[-1][-1][-1]

'Freios ABS'

In [31]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

In [32]:
nome_carro = ('Jetta Variant', 'Passat', 'Crossfox','DS5')
carro01, carro02, carro03, carro04 = nome_carro

In [33]:
carro01

'Jetta Variant'

In [34]:
carro02

'Passat'

In [35]:
carro03

'Crossfox'

In [36]:
carro04

'DS5'

In [37]:
_#andescope da pra ser usado para salvar um ultimo valor e para ignorrar um item da lista

'DS5'

In [39]:
_,C,*_=nome_carro

In [40]:
C

'Passat'

## zip()

In [41]:
nome_carro = ('Jetta Variant', 'Passat', 'Crossfox','DS5')
valor_carro = (50000.00, 100000.00, 150000.00, 200000.00)

In [42]:
zip(nome_carro, valor_carro)

In [43]:
list(zip(nome_carro, valor_carro))

[('Jetta Variant', 50000.0),
 ('Passat', 100000.0),
 ('Crossfox', 150000.0),
 ('DS5', 200000.0)]

In [44]:
for itens in zip(nome_carro, valor_carro):
    print(itens)

('Jetta Variant', 50000.0)
('Passat', 100000.0)
('Crossfox', 150000.0)
('DS5', 200000.0)

In [48]:
for nome, valor in zip(nome_carro, valor_carro):
    if valor > 100000:
        if 'D'in nome:
            print(nome, valor)

DS5 200000.0

In [49]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)
carros

(('Jetta Variant',
  'Motor 4.0 Turbo',
  2003,
  False,
  ('Rodas de liga', 'Travas elétricas', 'Piloto automático')),
 ('Passat',
  'Motor Diesel',
  1991,
  True,
  ('Central multimídia', 'Teto panorâmico', 'Freios ABS')))

In [51]:
for acessorios in carros:
    for item in acessorios[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

## dicionarios

In [53]:
#dict={}

In [94]:
dados = {'Jetta Variant':50000.00,'Passat':100000.00,'Crossfox':150000.00,'DS5':200000.00}

In [95]:
dados

{'Jetta Variant': 50000.0,
 'Passat': 100000.0,
 'Crossfox': 150000.0,
 'DS5': 200000.0}

In [96]:
dados['Passat']

100000.0

In [97]:
'Passat' in dados

True

In [98]:
len(dados)

4

In [102]:
# adicionando um novo item ao dicionario
dados['PS5'] = 250000.00

In [103]:
dados

{'Jetta Variant': 50000.0,
 'Crossfox': 150000.0,
 'DS5': 200000.0,
 'PS5': 250000.0}

In [104]:
del dados['Passat']
dados

KeyError: 'Passat'

In [88]:
'''dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}'''

"dados = {\n    'Passat': {\n        'ano': 2012,\n        'km': 50000,\n        'valor': 75000,\n        'acessorios': ['Airbag', 'ABS']\n    }, \n    'Crossfox': {\n        'ano': 2015,\n        'km': 35000,\n        'valor': 25000\n    }\n}"

In [105]:
dados

{'Jetta Variant': 50000.0,
 'Crossfox': 150000.0,
 'DS5': 200000.0,
 'PS5': 250000.0}

In [67]:
'acessorios' in dados['Crossfox']

False

In [68]:
'acessorios' in dados['Passat']

True

In [71]:
dados['Crossfox']['valor']

25000

In [72]:
dados['Passat']['acessorios']

['Airbag', 'ABS']

In [73]:
dados['Passat']['acessorios'][-1]

'ABS'

In [107]:
dados.update({'Passat': 100000.0})

In [108]:
dados

{'Jetta Variant': 50000.0,
 'Crossfox': 150000.0,
 'DS5': 200000.0,
 'PS5': 250000.0,
 'Passat': 100000.0}

In [110]:
dados.update({'Passat': 100000.0,'Fusca': 300000.0})
dados

{'Jetta Variant': 50000.0,
 'Crossfox': 150000.0,
 'DS5': 200000.0,
 'PS5': 250000.0,
 'Passat': 100000.0,
 'Fusca': 300000.0}

In [111]:
dados2 = dados.copy()

In [112]:
dados2

{'Jetta Variant': 50000.0,
 'Crossfox': 150000.0,
 'DS5': 200000.0,
 'PS5': 250000.0,
 'Passat': 100000.0,
 'Fusca': 300000.0}

In [113]:
dados2.pop('Passat')
dados2

{'Jetta Variant': 50000.0,
 'Crossfox': 150000.0,
 'DS5': 200000.0,
 'PS5': 250000.0,
 'Fusca': 300000.0}

In [116]:
dados2.pop('Passat','Chave não encontrada')

'Chave não encontrada'

In [119]:
dados2.clear()
dados2

{}

In [120]:
dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'PS5', 'Passat', 'Fusca'])

In [124]:
dados.values()

dict_values([50000.0, 150000.0, 200000.0, 250000.0, 100000.0, 300000.0])

In [125]:
dados.items()

dict_items([('Jetta Variant', 50000.0), ('Crossfox', 150000.0), ('DS5', 200000.0), ('PS5', 250000.0), ('Passat', 100000.0), ('Fusca', 300000.0)])

In [127]:
for chave, valor in dados.items():
    if valor > 150000:
        print(chave)

DS5
PS5
Fusca

In [142]:
dados3 = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}
dados3

{'Crossfox': {'valor': 72000, 'ano': 2005},
 'DS5': {'valor': 125000, 'ano': 2015},
 'Fusca': {'valor': 150000, 'ano': 1976},
 'Jetta': {'valor': 88000, 'ano': 2010},
 'Passat': {'valor': 106000, 'ano': 1998}}

In [155]:
for chave,valor in dados3.items():
    if valor['ano'] >= 2000:
        print(chave, valor)

Crossfox {'valor': 72000, 'ano': 2005}
DS5 {'valor': 125000, 'ano': 2015}
Jetta {'valor': 88000, 'ano': 2010}

In [162]:
for key, valor in dados3:
        print(valor)

ValueError: too many values to unpack (expected 2)

In [136]:
for item in dados.values():
    if(item['ano'] >= 2000):
        print(item)

{'valor': 72000, 'ano': 2005}
{'valor': 125000, 'ano': 2015}
{'valor': 88000, 'ano': 2010}

{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}
{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}
{'Crossfox': {'valor': 72000, 'ano': 2005}, 'DS5': {'valor': 125000, 'ano': 2015}, 'Fusca': {'valor': 150000, 'ano': 1976}, 'Jetta': {'valor': 88000, 'ano': 2010}, 'Passat': {'valor': 106000, 'ano': 1998}}