In [28]:
#tentei exportar classes entre notebook porem não foi possivel, logo voltou fazer tudo o processo POO dentro de um unico notebook
#!jupyter nbconvert --to script extracaoDados.ipynb

import pandas as pd
class carregarInfo():
    
    def __init__(self):
        self.df01 = None

    def readCsv(self, arquivo_csv):
        try:
            self.df01 = pd.read_csv(arquivo_csv)  
            #print("Arquivo CSV carregado com sucesso.")
        except FileNotFoundError:
             print(f"Erro: O arquivo {self.__nome} não foi encontrado.")
        except Exception as e:
            print(f"Erro ao carregar os dados: {str(e)}")
    def mostraCsv(self):
        if self.df01 is not None:
            return self.df01
        else:
            return "Os dados ainda não foram carregados"
    def dropDados(self, atribute1, atribute2):
        #posso usar *atribute no lugar de atribute1, para o metodo muscar uma lista de colunas para exclusão.
        self.df01.drop(columns=[atribute1, atribute2], inplace=True)

In [4]:
class transformarDados():
    
    def __init__(self, carregarInfo):
        self.carregarInfo = carregarInfo
        self.dadosNull_resultado = None
    
    def vizualizarPorc(self):
        if self.carregarInfo is not None:
            self.resultado = (self.carregarInfo.mostraCsv().isna().sum() / self.carregarInfo.mostraCsv().count()) *100
            return self.resultado.round(2)
        else:
            return None
    def dadosNull(self):
        ValorNulos = self.carregarInfo.mostraCsv().isna().sum()
        self.dadosNull_resultado = ValorNulos
        return self.dadosNull_resultado.round(2)
        
    def alteraValorMedio(self):
        if self.dadosNull_resultado is not None:
            df = self.carregarInfo.mostraCsv()
            df.fillna(df.median(), inplace=True)
            return df
        else:
            return None

# PIPELINE

In [33]:

dadosOrigem = carregarInfo()
dadosOrigem.readCsv("CC GENERAL.csv")
dadosOrigem.dropDados('CUST_ID', 'TENURE')
#dadosOrigem.mostraCsv()
dadosTrans = transformarDados(dadosOrigem)
#dadosTrans.vizualizarPorc()
dadosTrans.dadosNull()
dadosTrans.alteraValorMedio()
dadosTrans.vizualizarPorc()

BALANCE                             0.0
BALANCE_FREQUENCY                   0.0
PURCHASES                           0.0
ONEOFF_PURCHASES                    0.0
INSTALLMENTS_PURCHASES              0.0
CASH_ADVANCE                        0.0
PURCHASES_FREQUENCY                 0.0
ONEOFF_PURCHASES_FREQUENCY          0.0
PURCHASES_INSTALLMENTS_FREQUENCY    0.0
CASH_ADVANCE_FREQUENCY              0.0
CASH_ADVANCE_TRX                    0.0
PURCHASES_TRX                       0.0
CREDIT_LIMIT                        0.0
PAYMENTS                            0.0
MINIMUM_PAYMENTS                    0.0
PRC_FULL_PAYMENT                    0.0
dtype: float64

In [34]:
dadosOrigem.mostraCsv()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000
1,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222
2,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000
3,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,312.343947,0.000000
4,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000
8946,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,312.343947,0.000000
8947,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000
8948,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000
8949,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000